{
  "extends": ["airbnb", "react-app"],
  "rules": {
    "semi": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "import/extensions": ["never"]
  },
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    }, 
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true
      }
    }
  },
  "env": {
    "es6": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": { "sourceType": "module" }
}
